<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zap.office.mapper.NoticeMapper">
    <select id="getNoticeInfo" resultType="com.zap.office.entity.Notice">
        select  * from off_notice
    </select>
</mapper>